@charset "utf-8";

/* reset */
html, body{
    -webkit-text-size-adjust: none;  /* 크롬, 사파리, 오페라 신버전 */
    -ms-text-size-adjust: none;  /* IE */
    -moz-text-size-adjust: none;  /* 파이어폭스 */
    -o-text-size-adjust: none;  /* 오페라 구버전 */
}
*{box-sizing: border-box; -webkit-tap-highlight-color: transparent}
*::before, *::after{box-sizing: border-box;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin: 0; padding: 0}
body {
    overflow: visible;
    top: 0 !important;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: var(--txt2);
    line-height: 1.7;
    width: 100%;
    /*height: 100vh;*/
    transform-origin: left top; /* 왼쪽 상단을 기준으로 확대 */
    color: #1c1c1c;
    word-break: keep-all;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    transition: background-color 0.3s ease-in-out;
}
fieldset,img{border: 0 none; vertical-align: middle}
img{max-width: 100%}
/* svg{overflow: visible;} */
dl,ul,ol,li{list-style: none}
blockquote, q{quotes: none}
blockquote::before, blockquote::after,q::before, q::after{content: ''; content: none}
input,select,textarea,button{font-size: inherit; font-family: inherit; vertical-align: middle}

input{-webkit-appearance: none; -webkit-border-radius: 0; outline: none; border: none;}
textarea::placeholder,
input::placeholder {color: var(--txtGray1);}

input[type='checkbox'], input[type='radio']{clip: rect(0, 0, 0, 0); height: 1px; margin: -1px; overflow: hidden; position: absolute; width: 1px !important;}
textarea{-webkit-appearance: none; -webkit-border-radius: 0; resize: vertical; width: 100%; outline: none; font-family: inherit}
button{background: none; color: #000;}
table{border-collapse: collapse; border-spacing: 0}
button{border: 0 none; cursor: pointer; color: inherit; text-transform: inherit;}
a{color: inherit; text-decoration: none}
a:active, a:hover{text-decoration: none}
address,caption,cite,code,dfn,em,var{font-style: normal; font-weight: normal}
caption{overflow: hidden; position: absolute; clip: rect(0, 0, 0, 0); width: 1px; height: 1px; margin: -1px}
legend{overflow: hidden; position: absolute; clip: rect(0, 0, 0, 0); width: 1px; height: 1px; margin: -1px}
h1, h2, h3, h4, h5, h6{font-weight: 400}
strong, b{font-weight: bold}
pre{font-family: inherit;}
video { backface-visibility: hidden; -webkit-transform: translateZ(0); }


.swiper-button-next:after,
.swiper-button-prev:after ,
.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after { content: none;}

.swiper-button-prev,
.swiper-button-next {top: inherit; left: inherit; bottom: inherit; right: inherit; position: relative; width: auto; height: auto; background: none;}