.layout {
  min-height: 100vh;
  background: #ffffff;
}

.main {
  width: 100%;
  min-height: 100vh;
  padding: var(--space-6);
  background: #ffffff;
}

@media (width < 640px) {
  .main {
    padding: var(--space-4);
  }
}
